<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StoreManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="DB_SMPEntities" connectionString="metadata=res://*/SAPM.csdl|res://*/SAPM.ssdl|res://*/SAPM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=DB_SMP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="StoreManagement.Properties.Settings.DB_SMPConnectionString"
        connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=DB_SMP;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings><userSettings>
        <StoreManagement.Properties.Settings>
            <setting name="Color" serializeAs="String">
                <value>Red</value>
            </setting>
        </StoreManagement.Properties.Settings>
    </userSettings>
</configuration>